<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <% include("navbar") %>
    <div>
        <label for="">Product Name: <%= product.name %></label><br>
        <label for="">Product Price: <%= product.price %></label><br>
        <label for="">Product Quantity: <%= product.qty %></label><br>
        <label for="">Product Manufacturer: <%= product.manf %></label><br>
    </div>
</body>
</html>
